#FondoPrincipal{
    background-color: #d0cece;
    width: 80%;
    margin-left: 10%;
    padding: 0px 25px;
}
header{
    background-color: #e2efda;
}
h2{
    margin: 0px;
}
img{
    min-width: 20%;
    width: 100%;
}
#imagen{
    background-color: #c6e0b4;
}
#texto{
    background-color: #a9d08e;
}